#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* ul {
  list-style: none;
}

li {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px;
}

ul:nth-child(1) {
  background-color: blue;
} */
